<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard 245</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/topbar.css" rel="stylesheet">
    <link href="css/widgets.css" rel="stylesheet">

    <script src="networktables/networktables.js"></script>
    <script id="components/fetchConfig">
        var renderer = {};
        ipc.on("sendConfig", (ev, arg) => {
            renderer.config = arg;
        })
        ipc.send("fetchConfig", true);
    </script>
    <script id="jquery">
        var $, jQuery = $ = require("jquery");
    </script>
    <script id="components/values_config">
        var keyset = [];

        function resolveConfigValues(key) {
            keyset.push(key);
            var neatKey = [];
            key.split("/").forEach(item => {neatKey.push(item[0].toUpperCase() + item.substring(1, item.length))});
            neatKey = neatKey.join("/");
            var val = NetworkTables.getValue("/SmartDashboard/" + key, "-");
            $("#values-box .content > .value-container")[0].innerHTML += `<div class="key" value="${key}"><span class="key-box">${neatKey}</span> <span class="val-box">${val}</span></div>`;
        
            NetworkTables.addKeyListener("/SmartDashboard/" + key, (k, val) => {
                $(`#values-box .content > .value-container > div.key[value="${key}"]`).html(`<span class="key-box">${neatKey}</span> <span class="val-box">${val}</span>`);
            });
        }
    </script>
</head>

<body>
    <div id="top-bar">
        <div id="connection" class="subsection">
            <!-- Tells whether robot is connected to dashboard. -->
            <div id="robot-state">Unknown State</div>
            <button id="connect-button">Connect</button>
        </div>
        <div id="timer" class="subsection"><p>2:15</p></div>
        <div id="battery" class="subsection">
            <div id="battery-icon"></div>
            <div id="voltage">
                <canvas id="volts"></canvas>
                {{NTBind voltage-key "ui.widgets.updateGauge" "volts"}}
            </div>
            <div id="amps-icon"></div>
            <div id="powerdraw">
                <canvas id="amps"></canvas>
                {{NTBind powerdraw-key "ui.widgets.updateGauge" "amps"}}
            </div>
        </div>
        <div id="roboRIO" class="subsection">
            <div id="roboRIO-icon"></div>
            <div id="CPU">
                <div id="CPU-icon"><img src="../images/cpu_icon.png" /></div>
                <div id="CPU-counter">12</div>
                {{NTBind cpu-key "ui.widgets.gradientCPU" "CPU"}}
            </div>
            <div id="RAM">
                <div id="RAM-icon"><img src="../images/ram_icon.png" /></div>
                <div id="RAM-counter">76</div>
                {{NTBind ram-key "ui.widgets.gradientRAM" "RAM"}}
            </div>
        </div>
        <div id="other-options">
            <div id="gears"><i></i><i></i></div>
        </div>
    </div>
    
    <div id="middle-bar">

        <!-- You'll need to mess around with the CSS of #camera (found in css/style.css) to get it to work.
            More explanation in that CSS rule. -->
        <div id="camera"></div>

        <div id="mini-camera"></div>

        <!-- The main content of the dashboard. Designed to contain a gyro, auton_modes, motors, and values by default. -->
        <div id="widget-box">
            <div id="gyro">
                <div class="content">{{Include "gyro"}}</div>
                {{NTBind gyro-key "ui.widgets.updateGyro" "gyro"}}
                {{Include "label"}}
            </div>
            <div id="auton-modes">
                <div class="content">
                    {{Include "auton_modes"}}
                </div>
                {{Include "label"}}
            </div>
            <div id="motors-widget">
                <div class="content">
                    {{Include "motors"}}
                </div>
                {{Include "label"}}
            </div>
            <div id="values-box"> 
                <div class="content">
                    {{Include "values"}}
                    {{!-- EachBind config-values "resolveConfigValues" --}}
                </div>
                {{Include "label"}}
            </div>
        </div>

    </div>

    <div id="login">
        <input id="connect-address" type="text" value="localhost" disabled>
        <button id="connect" disabled>Connecting</button>
    </div>

    <div id="hidden-autons">
        <span class="hidden-act1"><div class="icon-container">{{AutonIcon "nom"}}</div></span>
        <span class="hidden-act2"><div class="icon-container">{{AutonIcon "push"}}</div></span>
        <span class="hidden-act3"><div class="icon-container">{{AutonIcon "snag"}}</div></span>
        <span class="hidden-act4"><div class="icon-container">{{AutonIcon "yeet"}}</div></span>
        <span class="hidden-straight"><div class="icon-container">{{AutonIcon "straight"}}</div></span>
    </div>

    <div id="bottom-bar">
        <div id="logo-container">
            <div id="logo"><img src="../images/AdambotsLogo245.png" /></div>
            <div class="frc-logo-frame">
                <div class="frc-logo"></div>
            </div>
        </div>
    </div>

    <div id="sidebar">
        <div id="sidebar-content">

        </div>
        <div id="sidebar-bar">
            <p>&#9658;</p> 
        </div>
    </div>

    <script src="components/jquery-ui.min.js"></script>
    <script src="components/testers.js"></script>
    <script src="components/jquery.gauge.js"></script>
    <script src="components/arrow.js"></script>
    <script src="ui.js"></script>
    <script src="connection.js"></script>
    
    <!-- Widgets: -->
    <script src="components/multicamera.js"></script>
</body>
</html>